.page-content{
  background: #f9f9f9;
  font-family: "Georgia", serif
}

header.site-header{
  font-family: "Georgia", serif;
  background: #33495f;
  color: #f9f9f9;
}

.site-title:before{
  content: "Arc;Rewrite by ";
  border-bottom: 2px solid #f9f9f9;
}

.site-title{color: #f9f9f9;}